@use '../abstracts/' as var;

// =============================================================================================
//! Общие Настройки
body{
    @extend .font-text;
    background: var.$white;
    color: var.$black;
}

// =============================================================================================
//! Прибивание футера к полу

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
}

// =============================================================================================
//! Настройка контейнера

[class*="__container"] {
    max-width: calc(var.$container-safe * 2 + var.$container);
    // overflow: hidden;
    margin: 0 auto;
    padding: 0 var.$container-safe;
}

svg{
    height: var.$icon-size;
    width: var.$icon-size;
}

//? PC    =======================================================================================
//? =============================================================================================
@media (max-width:1086.98px) {
}

//? Tablet    ===================================================================================
//? =============================================================================================
@media (max-width:991.98px) {
}

//? Mobile    ===================================================================================
//? =============================================================================================
@media (max-width:767.98px) {
}

//? Mobile - small    ===========================================================================
//? =============================================================================================
@media (max-width: 479.98px) {
}