@use 'typography' as font;
@use '../abstracts/variables' as var;

// =============================================================================================
//! Общие Настройки
body{
    @extend .text;
}

// =============================================================================================
//! Прибивание футера к полу

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
}

// =============================================================================================
//! Настройка контейнера

[class*="__container"] {
    max-width: calc(60px + 1230px);
    overflow: hidden; 
    margin: 0 auto;
    padding: 0 30px;
}

//? PC    =======================================================================================
//? =============================================================================================
@media (max-width:1086.98px) {
}

//? Tablet    ===================================================================================
//? =============================================================================================
@media (max-width:991.98px) {
}

//? Mobile    ===================================================================================
//? =============================================================================================
@media (max-width:767.98px) {
}

//? Mobile - small    ===========================================================================
//? =============================================================================================
@media (max-width: 479.98px) {
}