// =============================================================================================hom
//! Основной Шрифт
@font-face {
    font-family: 'Montserrat';
    src:url('../font/Montserrat.ttf') format('truetype'),
        url('../font/Montserrat.eot') format('embedded-opentype'),
        url('../font/Montserrat.woff') format('woff'),
        url('../font/Montserrat.woff2') format('woff2');
}
// =============================================================================================
//! Дополнительные Шрифты
@font-face {
    font-family: 'Oswald';
    src:url('../font/Oswald.ttf') format('truetype'),
        url('../font/Oswald.eot') format('embedded-opentype'),
        url('../font/Oswald.woff') format('woff'),
        url('../font/Oswald.woff2') format('woff2');
}
// =============================================================================================
//! №1 Стиль Шрифта
.title {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 64px;
    line-height: 117%;
}
//! №2 Стиль Шрифта
.category {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 28px;
    line-height: 146%;
}
//! №3 Стиль Шрифта
.card {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}

//! №4 Стиль Шрифта
.text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
}
//! №5 Стиль Шрифта
.display {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 100%;
}