* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    color: black;
    font-weight: 400;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1300px;
    margin: auto;
}

head, body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

li, p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 22px;
}

h1 {
    font-size: 64px;
    line-height: 75px;
    font-weight: normal;
    text-transform: uppercase;
}
h2 {
    font-size: 28px;
    line-height: 41px;
    font-weight: normal;
}
/* nav */

.nav {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav__logo {
    width: 62px;
    height: 29px;
}
.nav__links{
    display: flex;
    justify-content: space-between;
    width: 514px;
}

.nav__links__second {
    display: flex;
    justify-content: space-between;
    width: 90px;
}

/* banner */

.banner__border {
    position: relative;
    border: 1px solid #000;
    height: 720px;
}

.banner__bg {
    background-image: url(img/background.png);
    width: 1250px;
    height: 670px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.banner__content {
    width: 350px;
    margin-left: 23px;
    margin-bottom: 24px;
}

.banner__text {
    font-family: 'Oswald', sans-serif;
    font-size: 33px;
    line-height: 33px;
    color: #fff;
    margin-bottom: 19px;
    
}
.banner__button {
    width: 350px;
    height: 60px;
    color: #fff;
    background: none;
    border: 1px solid #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    line-height: 41px;
    padding-bottom: 7px;
    transition-duration: 0.5s;
}

.banner__button:hover {
    background-color: #000;
}

.banner__decoration {
    margin-right: 9px;
}


/* new */
.new {
    margin-top: 70px;
}

.new__title {
    margin-bottom: 19px;
}

.new__list {
    display: flex;
    justify-content: space-between;
}

.card__img {
    border: 1px solid #000;
    border-bottom: 0px;
    width: 310px;
    height: 272px;
}

.card__img>img {
    display: block;
    margin: 19px auto;
    width: 157px;
    height: 234px;
}

.card__info {
    border: 1px solid #000;
    padding: 4px 0;
}
.card__name {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
}

.card__price {
    font-size: 18px;
    line-height: 27px;
    color: #C3070D;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.card {
    position: relative;
}

.card-hit::before {
    content: 'ТОП ПРОДАЖ';
    position: absolute;
    top: 0;
    border: 1px solid #000;
    padding: 1px 6px 2px 6px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
}

.card-new::before {
    content: 'НОВИНКА';
    position: absolute;
    top: 0;
    border: 1px solid #000;
    padding: 1px 6px 2px 6px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
}

/* advantages */

.advantages {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.advantages>div>h1 {
    width: 420px;
}

.advantage {
    width: 288px;
    margin-top: 30px;
}

.advantage>h2 {
    margin-bottom: 5px;
}

.advantages__border {
    width: 860px;
    height: 510px;
    position: relative;
    border: 1px solid #000;
}

.advantages__bg {
    background-image: url(img/advantages__img.png);
    position: absolute;
    right: 0;
    top: 0;
    width: 810px;
    height: 460px;
}

.advantages__bg>img {
    position: inherit;
    bottom: 25px;
    right: 25px;
    width: 94px;
    height: 94px;
}

/* hit */

.hit {
    margin-top: 70px;
}

.hit__inner {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.hit__list {
    width: 640px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.hit__collection {
    position: relative;
    width: 640px;
    height: 708px;
    border: 1px solid #000;
}

.hit__bg {
    background-image: url(img/hit__collection.png);
    width: 590px;
    height: 658px;
    position: absolute;
    bottom: -1px;
    z-index: -1;
}

.hit__bg>div {
    position: inherit;
    left: 27px;
    bottom: 25px;
}

.hit__sup {
    margin-left: 3px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 41px;
}

.hit__name {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
}

.hit__sub {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 41px;
    color: #C3070D;
    margin-left: 3px;
}

/* footer */

.footer {
    margin-top: 70px;
}

.footer__first {
    background-color: #C3070D;
}

.footer__first-inner {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__first-content, .footer__first-content2 {
    display: flex;
    align-items: center;
}

.footer__first-content>img{
    margin-right: 7px;
}

.footer__first-content>p {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 41px;
    color: #fff;
    margin-right: 11px;
}

.footer__first-content2>p {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 41px;
    color: #fff;
    margin-left: 32px;
}

.footer__first-content2>img {
    margin-left: 16px;
}

.footer__second {
    background-color: #000;
}

.footer__second-inner {
    padding-top: 30px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

.footer__second-inner>img {
    width: 118px;
    height: 139px;
}

.footer__second-content {
    width: 820px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.footer__second-content>div>h2 {
    color: #fff;
    margin-bottom: 15px;
}

.footer__second-content>div>ul>li {
    color: #fff;
    margin-bottom: 2px;
}

.footer__second-content>div>ul>li a {
    color: #fff;
    margin-bottom: 2px;
}

.third__column iframe {
    width: 414px;
    height: 319px;
}


/* catalog */

.collections {
    margin-top: 70px;
    margin-bottom: 70px;
}

.collections__list {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.collection {
    position: relative;
    width: 640px;
    height: 640px;
    border: 1px solid #000;
}

.collection:last-child {
    margin-top: 60px;
    width: 1300px;
    height: 590px;
    position: relative;
    bottom: 0;
}

.collection:last-child a .collection__inner {
    width: 1250px;
    height: 540px;
    position: absolute;
}

.collection__inner {
    width: 590px;
    height: 590px;
    position: absolute;
    bottom: -1px;
}

.collection__inner-info {
    position: inherit;
    bottom: 30px;
    left: 30px;
}

.collection__inner-info>h2 {
    margin-bottom: 5px;
    font-size: 64px;
    line-height: 75px;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
}

.collection__inner-info>p {
    margin-bottom: 25px;
    color: #fff;
}

.inactive {
    position: relative;
}

.inactive::after {
    position: relative;
    left: 0; bottom: 0; 
    width: 590px; height: 590px;
    position: absolute;
    content: "";
    background: rgb(97, 97, 97);
    opacity: 0.6;
}

button {
    width: 240px;
    height: 60px;
    color: #fff;
    background: none;
    border: 1px solid #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    line-height: 41px;
    transition-duration: 0.5s;
}

.collection__inner-info button:hover {
    background: #000;
}

/* collection */

.catalog__title {
    margin-bottom: 70px;
}

.catalog__list {
    display: flex;
    flex-wrap: wrap;
}

.catalog__list>.card {
    margin-bottom: 40px;
    margin-right: 20px;
}

.catalog__list>.card:nth-child(4n) {
    margin-right: 0;
}

.collections__catalog {
    margin-top: 100px;
}

/* CARD */

.card__video iframe {
    width: 1300px;
    height: 650px;
}

.category {
    margin-bottom: 20px;
    margin-top: 70px;
}

.category a {
    color: #000;
    opacity: 0.2;
    text-decoration: underline;
}

/* Presentation */

.presentation {
    margin-bottom: 70px;
    width: 1300px;
    display: flex;
    justify-content: space-between;
}

.presentation__gallery {
    display: flex;
    flex-direction: column;
}

.gallery_img {
    margin-bottom: 20px;
    width: 90px;
}

.gallery_img-active {
    border: 2px solid #C3070D;
}

.presentation__colors {
    display: flex;
}

.presentation__color {
    width: 42px;
    height: 42px;
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.5px 26px 1.5px;
}

.presentation__color:hover {
    border: 3px solid #000;
}

.presentation__color img {
    width: 30px;
    height: 30px;
}

.rating {
    margin-right: 5px;
}

.rating_amount {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
}

.presentation__price {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
    color: #C3070D;
}

.presentation__column {
    width: 640px;
}

.presentation__row {
    margin-bottom: 20px;
}

.presentation__row:nth-child(4) {
    align-items: flex-end;
}

.advantage__text {
    margin-left: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 16px;
    color: #C3070D;
}

.advantage__text_1 {
    margin-right: 70px;
}

.presentation__row:nth-child(6) {
    display: flex;
    align-items: center;
    height: 60px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.presentation__row {
    display: flex;
    flex-wrap: wrap;
}

.presentation__button {
    color: #000;
    border: 1px solid #000;
    width: 200px;
    height: 50px;
    font-size: 18px;
    line-height: 27px;
    margin: 0 0 9px 15px;
    cursor: pointer;
    transition-duration: .5s;
}

.presentation__button:hover {
    background-color: #000;
    color: #fff;
}

.presentation__shogun {
    margin-bottom: 10px;
    width: 587px;
    display: flex;
    justify-content: space-between;
}

.shogun__text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
}

.shogun__plus {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 25px;
}

/* characteristic */

.characteristics {
    margin-bottom: 70px;
}

.characteristics_1 {
    display: flex;
    justify-content: space-between;
}

.characteristics_2 {
    display: flex;
}


.characteristic__value {
    margin-top: -10px;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
    position: relative;
}

.characteristic__name {
    margin-bottom: -5px;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 41px;
}

.characteristic__value {
    margin-bottom: 22px;
}

.characteristic__value_1::before {
    position: absolute;
    bottom: -6px;
    content: '';
    display: block;
    width: 900px;
    height: 1.5px;
    background-color: black;
}

.characteristic__value_1::after {
    position: absolute;
    left: 900px;
    content: '';
    display: block;
    border-radius: 100%;
    bottom: -12px;
    width: 15px;
    height: 15px;
    background-color: #fff;
}

.characteristic__value_2::before {
    position: absolute;
    bottom: -6px;
    content: '';
    display: block;
    width: 980px;
    height: 1.5px;
    background-color: black;
}

.characteristic__value_2::after {
    position: absolute;
    left: 980px;
    content: '';
    display: block;
    border-radius: 100%;
    bottom: -12px;
    width: 15px;
    height: 15px;
    background-color: #fff;
}

.characteristic__value_3::before {
    position: absolute;
    bottom: -6px;
    content: '';
    display: block;
    width: 940px;
    height: 1.5px;
    background-color: black;
}

.characteristic__value_3::after {
    position: absolute;
    left: 940px;
    content: '';
    display: block;
    border-radius: 100%;
    bottom: -12px;
    width: 15px;
    height: 15px;
    background-color: #fff;
}

.characteristic__value_4::before {
    position: absolute;
    bottom: -6px;
    content: '';
    display: block;
    width: 960px;
    height: 1.5px;
    background-color: black;
}

.characteristic__value_4::after {
    position: absolute;
    left: 960px;
    content: '';
    display: block;
    border-radius: 100%;
    bottom: -12px;
    width: 15px;
    height: 15px;
    background-color: #fff;
}

.characteristic__value_5::before {
    position: absolute;
    bottom: -6px;
    content: '';
    display: block;
    width: 1080px;
    height: 1.5px;
    background-color: black;
}

.characteristic__value_5::after {
    position: absolute;
    left: 1080px;
    content: '';
    display: block;
    border-radius: 100%;
    bottom: -12px;
    width: 15px;
    height: 15px;
    background-color: #fff;
}

.characteristic__value_6::before {
    position: absolute;
    bottom: -6px;
    content: '';
    display: block;
    left: -310px;
    width: 1060px;
    height: 1.5px;
    background-color: black;
}

.characteristic__value_6::after {
    position: absolute;
    left: -310px;
    content: '';
    display: block;
    border-radius: 100%;
    bottom: -12px;
    width: 15px;
    height: 15px;
    background-color: #fff;
}

.characteristic__value_7::before {
    position: absolute;
    bottom: -6px;
    content: '';
    display: block;
    left: -246px;
    width: 1000px;
    height: 1.5px;
    background-color: black;
}

.characteristic__value_7::after {
    position: absolute;
    left: -250px;
    content: '';
    display: block;
    border-radius: 100%;
    bottom: -12px;
    width: 15px;
    height: 15px;
    background-color: #fff;
}

.characteristics__column_2 {
    margin-top: 76px;
}

.characteristic__function {
    margin-top: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

.characteristic__function::before {
    content: "-";
    margin-right: 4px;
}


/* about */

.about_us {
    margin-top: 56px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
}



.about_us__column {
    flex-direction: column;
    justify-content: space-between;
    display: flex;

}

.about_us__row {
    max-width: 420px;
}

.about_us__row h2 {
    margin-bottom: 5px;
}

.about_us__img_1, .about_us__img_2 {
    box-shadow:0px 0px 0px 1px black inset;
    position: relative;
    width: 860px;
    height: 570px;
}

.about_us__img_1 {
    margin-top: 14px;
}

.about_us__img_1 img {
    position: absolute;
    bottom: 0px;
}

.about_us__row img {
    width: 810px;
    height: 520px;
}

/* switch */

.switch {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 100px;
}

.login_switch, 
.registration_switch {
    opacity: 0.2;
}

.switch-active {
    opacity: 1;
}

/* access */

.access {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 322px;
}

.access__Google,
.access__Facebook,
.access__create {
    width: 640px;
    height: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;  
}

.access__Google {
    border: 1px solid #DB4437;
    color: #DB4437;
    margin-bottom: 20px;
}

.access__Facebook {
    border: 1px solid #4267B2;
    color: #4267B2;
    margin-bottom: 60px;
}

.access__create {
    border: 1px solid #000;
    color: #000;
    transition-duration: .5s;
}

/* login */

.form__body {
    margin-bottom: 322px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__item {
    position: relative;
    margin-bottom: 20px;
}

.form__label {
    z-index: -1;
    opacity: 0.2;
    position: absolute;
    top: 10px;
    left: 14px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
}

.registration_switch-select, .login_switch {
    transition-duration: 0.2s;
}

.registration_switch-select:hover, .login_switch:hover {
    opacity: 0.5;
}

.form__input {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    border: 1px solid #000;
    opacity: 1;
    width: 640px;
    height: 50px;
    background-color: transparent;
    text-indent: 14px;
    outline: none;
}

.form__input:focus {
    border: 1px solid #000;
    opacity: 1;
}

.form__input:focus ~ .form__label {
    opacity: 1;
}

.form__input:not(:placeholder-shown) ~ .form__label {
    display: none;
}

.form__button {
    margin-top: 40px;
    border: 1px solid #000;
    color: #000;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    width: 640px;
    height: 50px;
    transition-duration: .5s;
}

.form__button:hover , .access__create:hover {
    background-color: #000;
    color: #fff;
}

/* cart */

.cart {
    display: flex;
    justify-content: space-between;
    margin-bottom: 230px;
    margin-top: 70px;
}

.cart__item {
    width: 750px;
    display: flex;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}

.item__information {
    margin-left: 35px;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item__title,
.item__sum,
.item__total,
.item__price,
.total__title,
.total__price {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 41px;
}

.item__title:after {
    content: '';
    background-image: url(img/olive.png);
    width: 30px;
    height: 30px;
    display: block;
}

.item__quantity {
    width: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item__row {
    display: flex;
    justify-content: space-between;
}

.total__title {
    font-size: 18px;
    line-height: 27px;
}

.total__price {
    margin-top: -10px;
    font-size: 48px;
    line-height: 71px;
}

/* cart__form */

.cart__form {
    width: 420px;
    height: 502px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart__input {
    width: 360px;
}

.radio__input {
    display: none;
}


.form__inner {
    display: flex;
    margin-top: 5px;
}

.radio__label {
    border: 1px solid #000;
    padding: 13px 30px;
    cursor: pointer;
}

.radio__title, .radio__label {
    width: 100%;
    display: block;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
}

.radio__label-1 {
    padding: 10px 50.5px 13px 50.5px;
}

.radio__label-2 {
    padding: 10px 66.5px 13px 66.5px;
}

input[type=radio]:checked + .radio__label {
    color: #fff;
    background-color: black;
}

.cart__button {
    width: 360px;
    margin-top: 20px;
    transition-duration: 0.5s;
}

.cart__button:hover {
    background-color: #000;
    color: #fff;
}

/* profile */



.profile__inner {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.sidebar__list {
    margin-bottom: 2px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
}

.sidebar__page::after {
    display: block;
    margin: 10px 0;
    content: '';
    width: 155px;
    height: 1.5px;
    background-color: #000;
}

.profile__item {
    width: 970px;
    display: flex;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

.item__purcashe p, .item__received p {
    display: inline;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    margin-right: 10px;
}

.price__value {
    display: inline;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 41px;
    color: #C3070D;
    margin-right: 32px;
}

.price__title {
    margin-right: 5px;
    font-family: 'Oswald';
    display: inline;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 41px;
    color: #000;
}


/* profile-data */

.profile {
    margin-bottom: 332px;
    margin-top: 70px;
}

.profile__inner-block {
    justify-content: flex-start;
}

.data__row {
    margin-left: 160px;
    display: flex;
}

.data__button {
    margin: 0;
    margin-top: 30px;
}

.data__form {
    width: 310px;
    margin-right: 20px;
}

.data__form-1 {
    width: 200px;
}

/* profile-data__select */

.dropdown {
    position: relative;
}

.dropdown__button {
    color: #000;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    outline: 0;
    position: relative;
    display: block;
    text-align: left;
    width: 200px;
    margin-right: 20px;
    background-color: transparent;
    border: 1px solid #000;
    height: 50px;
    padding: 10px 35px 13px 20px;
    cursor: pointer;
}

.dropdown__button:focus, .dropdown__button--active {
    outline: 1px solid black;   
}

.dropdown__button::after {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    content: '';
    background-image: url(img/icons/Arrow\ -\ Down\ 2.svg);
    width: 24px;
    height: 24px;
    display: inline-block;
    pointer-events: none;
}


.dropdown__list {
    display: none;
    position: absolute;
    left: 0;
    top: 50px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: #fff;
    overflow: hidden;
    width: 200px;
    z-index: 2;
}

.dropdown__list--visible {
    display: block;
}

.dropdown__list-item {
    font-family: 'Oswald';
    color: #000;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    border: 1px solid #000;
    border-bottom: 0;
    margin: 0;
    padding: 0;
    padding: 13px 20px;
    cursor: pointer;
}

.dropdown__list-item:last-child {
    border-bottom: 1px solid #000;
}

.dropdown__input-hidden {
    display: none;
}