
.font-title {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 64px;
    line-height: 117%;
}
.font-category {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 28px;
    line-height: 146%;
}
.font-card {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}
.font-text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
}
.font-display {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 100%;
}