@use '../abstracts/' as *;

.about {

    & {
        margin-top: 70px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 70px;
    }

    &__column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title {
        @extend .font-title;
        max-width: 420px;
    }

    &__information {
        max-width: 420px;
    }

    &__category {
        @extend .font-category;
        margin-bottom: 5px;
    }
}