@use "../abstracts/" as *;

.banner {

    &__cta {
        position: absolute;
        left: 24px;
        bottom: 24px;
    }

    &__button {
        padding-left: 90px;
        padding-right: 90px;
    }

    &__decoration {
        position: absolute;
        bottom: 7px;
        right: 9px;
    }

    &__text {
        color: $white;
        max-width: 350px;
        margin: 0px 0px 20px 0px;
    }
}
.image {

    & {
        position: relative;
    }

    &__border {
        padding: 45px 45px 0px 0px;
        border: 1px solid #000;
    }
}