@use '../abstracts/' as *;

button {
    background: transparent;
    border: 1px solid $white;
    color: $white;
    padding: 6px 60px 13px 60px;
    @extend .font-category;
    transition: $transition--default;
}

button:hover {
    background: $black;
}