@use '../abstracts' as *;

.page {
  &__filter {
    @extend .font-card;
  }
}
.filter {
  &__top {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

    div {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  &__bottom {
    margin-top: 10px;
    border: 1px solid $black;

    padding: 18px 17px;

    p {
        margin-bottom: 5px;
    }
  }
}
