@use '../abstracts' as *;

.header {

    &__logo {
        transition: $transition--default;

        &:hover {
            transform: $transform--default;
        }
    }

    & {
        margin: 20px 0px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__actions {
        display: flex;
        gap: 42px;
    }

    .action {
        & {
            display: block;
            transition: $transition--default;
        }

        &:hover {
            transform: $transform--default;
        }
        svg {
            width: $icon-size-1;
            height: $icon-size-1;
        }
    }
}
.menu {

    & {
        display: flex;
        gap: 60px;
    }

    &__item {
        & {
            transition: $transition--default;
        }

        &:hover {
            transform: $transform--default;
        }
    }
}
