@use '../abstracts/variables' as var;

.header {

    &__logo {
        transition: var.$transition--default;
    }

    &__logo:hover {
        transform: var.$transform--default;
    }

    & {
        margin: 20px 0px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__actions {
        display: flex;
        gap: 42px;
    }

    .action {
        display: block;
        transition: var.$transition--default;
    }

    .action:hover{
        transform: var.$transform--default;
    }
}
.menu {

    & {
        display: flex;
        gap: 60px;
    }

    &__item {
        transition: var.$transition--default;
    }

    &__item:hover {
        transform: var.$transform--default;
    }
}
